div.archive {
	overflow-y:auto;
	height:100%;
}

div.archive div {
	margin-left:20px;
	display:none;
	min-height:18px;
}

div.archive div span.fa {
	display:inline-block;
	width:20px;
	text-align:center;
	margin-left:-20px;
	color:#a0a0a0;
}

div.archive div span {
	padding-top:1px;
	display:inline-block;
	cursor:pointer;
	height:18px;
}

div.archive div img.icon {
	width:14px;
	height:14px;
	position:relative;
	top:-1px;
	margin-right:6px;
}

div.archive div.directory > span.name {
	background-repeat:no-repeat;
	background-size:14px;
	padding-left:20px;
	background-image:url(/images/directory.png);
	background-position:0 4px;
}

div.archive div.file > span.name {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:calc(100% - 105px);
}

div.archive div.file > span.size {
	float:right;
	margin-right:5px;
	width:80px;
	text-align:right;
}

div.archive div.file:hover {
	background-color:#e8f4ff;
}

div.archive div.selected {
	background-color:#cce8ff;
}
