div.content:first-child {
	background-image:url(/images/orb.png);
	background-repeat:no-repeat;
	background-position:top 15px right 50px;
	background-size:230px;
	margin-bottom:50px;
}

h1:after {
	background-image:none;
}
