/* Taskbar
 */
div.taskbar {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	height:36px;
	background-color:#1c2127;
	z-index:2;
}

div.taskbar div.overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.5);
}

/* Start button
 */
div.taskbar div.start {
	background-image:url(/images/orb.png);
	background-position:8px 4px;
	background-size:22px;
	background-repeat:no-repeat;
	font-size:14px;
	font-weight:bold;
	width:80px;
	margin:3px;
	padding-top:4px;
	padding-left:35px;
	height:30px;
}

/* Start menu
 */
div.taskbar div.startmenu {
	position:absolute;
	bottom:36px;
	left:0;
	width:220px;
	height:285px;
	background-color:#252322;
	display:none;
}

div.taskbar div.startmenu div.system {
	position:absolute;
	width:35px;
	height:inherit;
	padding:10px 5px 0px 5px;
}

div.taskbar div.startmenu div.system img.icon {
	width:24px;
	height:24px;
	cursor:pointer;
	margin-bottom:10px;
}

div.taskbar div.startmenu div.system img[title=Logout] {
	position:absolute;
	bottom:0;
	left:5px;
	margin-bottom:5px;
}

div.taskbar div.startmenu div.applications {
	position:relative;
	left:35px;
	width:200px;
	height:inherit;
	overflow:auto;
	background-color:#4a4a4a;
}

div.taskbar div.startmenu div.applications div.application {
	color:#ffffff;
	padding:5px 10px;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div.taskbar div.startmenu div.applications div.application img.icon {
	width:20px;
	height:20px;
	margin-right:10px;
}

/* Quickstart
 */
div.taskbar div.quickstart {
	position:absolute;
	bottom:0;
	left:90px;
	height:36px;
}

div.taskbar div.quickstart div.quickicon {
	float:left;
	height:100%;
	width:30px;
	padding:6px 6px 6px 0;
}

div.taskbar div.quickstart div.quickicon img {
	width:100%;
	height:100%;
	cursor:pointer;
}

/* Tasks
 */
div.taskbar div.tasks {
	position:absolute;
	right:80px;
	bottom:0;
	left:90px;
	height:36px;
	overflow:hidden;
}

div.taskbar div.tasks div.task {
	float:left;
	color:#c0c0c0;
	height:30px;
	max-width:150px;
	width:100%;
	background-color:#505050;
	margin:3px;
	padding:6px 10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	border-radius:3px;
	cursor:pointer;
}

div.taskbar div.tasks div.task img {
	width:18px;
	height:18px;
	margin:-4px 5px 0 -3px;
}

div.taskbar div.tasks div.focus {
	color:#ffffff;
	background-color:#707070;
}

div.taskbar div.tasks div.minimized {
	color:#a0a0a0;
	font-style:italic;
	background-color:#303030;
}

/* Clock
 */
div.taskbar div.clock {
	position:absolute;
	right:0;
	bottom:0;
	width:80px;
	height:36px;
	padding-top:2px;
	color:#c0c0c0;
	text-align:center;
	font-size:11px;
}
