div.picture {
	height:100%;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

div.picture button {
	position:absolute;
	top:50%;
	width:50px;
	height:50px;
	padding:0;
	border-color:#adadad;
	border-radius:25px;
	transform:translate(0, -25px);
	opacity:0.25;
}

div.picture button:hover {
	opacity:0.75;
}

div.picture button.left {
	left:10px;
}

div.picture button.right {
	right:10px;
}
