div.terminal-hacker {
	height:100%;
	color:#00f000;
	font-family:'courier';
	white-space:pre-wrap;
}

div.terminal-hacker h1 {
	color:#50ff50;
	margin-top:0;
}

div.terminal-hacker table.crack {
	width:100%;
}

div.terminal-hacker table.crack td {
	vertical-align:top;
	padding-bottom:10px;
}

div.terminal-hacker table.file td {
	width:10px;
}

div.terminal-hacker table.file td.decrypted {
	color:#ffffff;
	background-color:#202020;
}

div.terminal-hacker input,
div.terminal-hacker textarea {
	border:0;
	background-color:#000000;
	width:100%;
	resize:none;
	user-select:none;
	color:#00f000;
}

div.terminal-hacker iframe {
	width:100%;
	height:100%;
}

div.terminal-hacker div.source {
	height:100%;
	overflow-y:scroll;
	width:calc(100% + 30px);
}

div.terminal-hacker div.download div.filename {
	display:inline-block;
	width:250px;
	position:relative;
	bottom:5px;
}

div.terminal-hacker div.download div.status {
	display:inline-block;
	width:calc(100% - 250px);
	border:2px solid #206020;
	padding:2px;
}

div.terminal-hacker div.download div.percentage {
	height:10px;
	background-color:#206020;
}
